.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

.mic-set {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
}